---
title: "Todo App"
description: "Learn to create a simple Todo App with Metal.js."
tutorialTitle: "Learn to create a simple Todo App with Metal.js"
url: "/docs/tutorials/todo-app/before-we-start.html"
---

{namespace pageTutorialTodo}

/**
 *
 */
{template .render}
{/template}

/**
 * @param page
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='{$page.url}'">
</head>
</html>
{/template}
